.locationFormWrapper {
    width: 100%;
    max-width: var(--col-max-width);
    box-shadow: 0 4px 33px rgba(0, 0, 0, 0.04);
    background: white;
    border-radius: 16px;
    font-size: 16px;
}

.locationForm {
    width: 360px;
    padding: 32px;

}

/*.locationForm div:not(:first-child) {*/
/*    margin-top: 16px;*/
/*}*/
.blockItem{
margin-bottom: 20px;
}

h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.btn {
    margin-top: 12px;
}

@media screen and (max-width: 834px) {

    .locationForm {
        width: 100%;
    }

}