.cardHeaderWrapper {
    width: 100%;
    max-width: var(--col-max-width);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.cardTitleWrapper {
    max-width: 332px;
    display: flex;
    justify-content: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;

}

.arrowIcon {
    margin-left: 20px;
    margin-right: 20px;
}

