.cardWrapper {
    min-width: 664px;
    padding: 48px 32px;
    background: white;
    border-radius: 16px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardHeaderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardTitleWrapper {
    width: 332px;
    display: flex;
    justify-content: space-between;
    color: #424242;
}
