.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/src/assets/img/auth_img/IMG_20210312_140957_174 2.png");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

}
.wrapperOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    z-index: 10;
}
@media screen and (max-width: 493px) {
    .wrapper {
        max-width: 300px;
        padding: 22px;
    }
}
