.favoritesWrapper {
    max-width: var(--col-max-width);
    width: 100%;
    height: 472px;
    margin-top: 24px;
    background: white;
    box-shadow: 0 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    display: flex;
    flex-direction: column;

}

.favoritesContent {
    padding: 32px 18px 32px 32px;
}

.favoritesTitle {
    color: #424242;
    font-weight: 500;
    font-size: 24px;
}

.favoritesFilterWrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 32px;
    flex-direction: column;


}

span {
    font-size: 14px;
    font-weight: 400;
}


.ratingBtn {
    position: relative;
    width: 89px;

}

.ratingArrowUp {
    position: absolute;
    left: 75%;
    right: -22.14%;
    top: 16.67%;
    bottom: 53.87%;
    cursor: pointer;
}

.ratingArrowDown {
    position: absolute;
    left: 75%;
    right: -22.14%;
    top: 54.29%;
    bottom: 16.25%;
    cursor: pointer;
}

.priceBtn {
    width: 71px;
    position: relative;
}

.priceArrowUp {
    position: absolute;
    left: 70%;
    right: -30%;
    top: 16.67%;
    bottom: 53.87%;
    cursor: pointer;
}

.priceArrowDown {
    position: absolute;
    left: 70%;
    right: -30%;
    top: 54.29%;
    bottom: 16.25%;
    cursor: pointer;
}

.favoritesList {
    max-width: 296px;
}

.btnBlock {
    display: flex;
    gap: 8px

}
