.itemWrapper {
    width: 100%;
    max-width: var(--col-max-width);
    position: relative;
    display: flex;
    padding-bottom: 16px;
    padding-top: 19px;
    justify-content: space-between;

}



.iconWrapper {
    position: relative;
    background: url("../../assets/icons/home_background.png");
    width: 64px;
    height: 64px;

}

.hotelTitle {
    font-weight: 300;
    font-size: 17px;
}
.homeRoofIcon {
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
}

.homeIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mainBlockWrapper {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dateWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 177px;
    position: relative;
}

.dash {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.baseline {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 584px;

}

.priceWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    min-width: 110px;
    padding-bottom: 22px;
    position: relative;

}
.btnWrapper {
    cursor: pointer;
}
.greyHeart {
    position: absolute;
    right: 0;
    z-index: 1;
}

.defaultHeart {
    position: absolute;
    right: 0;
    z-index: 10;
}

.defaultHeart:hover {
    position: absolute;
    right: 0;
    z-index: -1;
}

.redHeart {
    position: absolute;
    right: 1px;
    top: 20px;
    z-index: 15;
}

.priceTitle {
    font-weight: 300;
    font-size: 11px;
    color: #878787;
}

.priceValue {
    font-weight: 400;
    font-size: 17px;
    text-align: right;
    color: #424242;
}

.container {
    display: flex;
}

