.cardHeaderWrapper {
    width: 100%;
    max-width: var(--col-max-width);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 28px;
}

.cardTitleWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 332px;
    position: relative;
    padding-right: 80px;
}

.arrowIcon {
    position: absolute;
    left: 110px;
    top:25%;
}
h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}
.date {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #41522E;
}

