.hotelsPageWrapper {

    background: #E5E5E5;
}

.hotelsContainer {
    max-width: 1140px;
    margin: 0 auto;
}

.hotelsCardsWrapper {

    display: flex;
    justify-content: space-between;
}


.unitedLeftBlock {
    max-width: 568px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}